{% extends 'index.html' %}
{% block content %}
    <table border="2" cellpadding="10">
    <caption>Order</caption>
      <tr>
          <th>Date created</th>
          <th>Count</th>
          <th>Flowers</th>
          <th>Delivery</th>
          <th>delivery_address</th>

      </tr>
      <tr>
          <td>{{ object.date_order|date:"Y-m-d" }}</td>
          <td>{{ object.count }}</td>
          <th>{{ object.flowers}}</th>
          <th>{{ object.delivery}}</th>
          <th>{{ object.delivery_address}}</th>
      </tr>

    </table>
{% endblock %}